# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
tfplan
tfplan.json

# OS / editor
.DS_Store
.idea/
.vscode/
